div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

app-navrail-button {
    width: 100%;
    height: 4rem;
}

hr {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #EDF1F7;
    color: #EDF1F7;
}