<div>
    <app-navrail-button mode="primary" icon="plus" ></app-navrail-button>
    <hr>
    <app-navrail-button icon="home-outline" activeIcon="home" route="/home"></app-navrail-button>
    <hr>
    <app-navrail-button icon="award-outline" activeIcon="award" route="/trending"></app-navrail-button>
    <hr>
    <app-navrail-button icon="compass-outline" activeIcon="compass" route="/discover"></app-navrail-button>
    <hr>
    <app-navrail-button icon="bookmark-outline" activeIcon="bookmark" route="/library"></app-navrail-button>
    <hr>
</div>
