button {
    background-color: white;
    border: none;
    width: 100%;
    height: 4rem;
}

.primary {
    background-color: #6202EE;
    color: white;
    border: none;
    width: 100%;
    height: 4rem;
}

nb-icon {
    width: 1.5rem;
    height: 1.5rem;
}