<div class="home">
    <div>
        <h3>Trending</h3>
        <hr>
        <!--Insert trending component-->
        <p>placeholder text Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Illum quod perferendis numquam odit! Hic quas eligendi porro, quidem maiores
              dolores dolore, beatae, 
            provident explicabo minima officiis deleniti eaque nemo voluptate.</p>

        <h3>Your library</h3>
        <hr>
        <p>placeholder text Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Illum quod perferendis numquam odit! Hic quas eligendi porro, quidem maiores
             dolores dolore, beatae, 
           provident explicabo minima officiis deleniti eaque nemo voluptate.</p>
        <!--Insert library component-->
    </div>
</div>
